<!DOCTYPE html>
<html>
<head>
    <title>{{ articulo.titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/">🏠 Inicio</a>
    <a href="/admin" class="btn">Ingresar</a>
</div>

<div class="container">

    <a href="/" class="btn btn-secondary">⬅ Volver</a>

    <div class="card">
        <h1>{{ articulo.titulo }}</h1>
        <p><strong>Fecha:</strong> {{ articulo.fecha_publicacion }}</p>
        <p>{{ articulo.contenido }}</p>
    </div>

</div>

</body>
</html>